<a href="https://colab.research.google.com/github/PSahithisuma/AIML_AVANTHI_SAHITHI/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
x=[1,2,3,4,5,6]
sum=0
for i in x[1:4:1]:
  sum=sum+i


print("sum of x is:",sum)

sum of x is: 9

In [13]:
list = ["Apple", "Banana", "Ant", "Art", "Cat"]
list.sort()
list.remove("Ant")
list.remove("Banana")
list.remove("Cat")
print(list)

['Apple', 'Art']

In [8]:
a=[1,2,3]
b=[4,5,6]
sum_list=[]
for i in range(len(a)):
  sum_list.append(a[i]+b[i])


print(sum_list)

[5, 7, 9]

In [12]:
result=[]
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    result . append(str(i))

print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [17]:
n=int(input("Enter the numbers"))
d=dict()
for i in range(1,n+1):
  d[i]=i*i
print(d)

Enter the numbers8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [61]:
import numpy as np
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
np.add(arr1,arr2)

array([5, 7, 9])

In [75]:
import numpy as np
arr= np.array([[1,2,3,4,5],
             [4,2,7,8],
             [6,2,9,1,0]])

print("Given Array :")
print(arr)
res_arr = arr[[0,2]]
print("\nAccessed Rows :")
print(res_arr)

Given Array :
[list([1, 2, 3, 4, 5]) list([4, 2, 7, 8]) list([6, 2, 9, 1, 0])]

Accessed Rows :
[list([1, 2, 3, 4, 5]) list([6, 2, 9, 1, 0])]

<ipython-input-75-257fa65416d8>:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr= np.array([[1,2,3,4,5],

In [88]:
arr1= np.array([1,2,3,4,5,6,7,8,9,10])
arr2 = arr.reshape(5, 2)
print(arr2)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]

In [96]:
arr= np.array([1,2,3,4,5,6,7,8])
print(arr)
# first n elements of numpy array
arr[:3]

[1 2 3 4 5 6 7 8]

array([1, 2, 3])

In [104]:
import numpy as np
# Creating two arrays of different dimensions
arr1 = np.array([[21, 27], [2, 4], [31, 38]])
arr2 = np.array([[12, 43], [11, 12]])

# Printing original arrays
print("arr1 is:\n", arr1)
print("arr2 is:\n", arr2)

# Computing the dot product
dotProduct = np.dot(arr1, arr2)

# Printing the result
print("\nDot product of arr1 and arr2 is:\n")
print(dotProduct)

arr1 is:
 [[21 27]
 [ 2  4]
 [31 38]]
arr2 is:
 [[12 43]
 [11 12]]

Dot product of arr1 and arr2 is:

[[ 549 1227]
 [  68  134]
 [ 790 1789]]

In [106]:
import numpy as np
array = np.arange(10)
print(array)

r1 = np.mean(array)
print("\nMean: ", r1)

r2 = np.std(array)
print("\nstd: ", r2)

r3 = np.var(array)
print("\nvariance: ", r3)

[0 1 2 3 4 5 6 7 8 9]

Mean:  4.5

std:  2.8722813232690143

variance:  8.25

In [118]:
arr = np.array([ 2, 3, 4])
arr1 = np.array([5, 6, 7])
arr2 = np.hstack((arr,arr1))

np.hstack((arr,arr1))

array([2, 3, 4, 5, 6, 7])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New Section